.appointment-form{
    max-width: 1257px !important;
    margin: auto;

    
}
.appointment-form-textarea{
    width: 100%;
    height: 208px;
    
}
.select2-selection{
    max-width: 587px !important;
    width: 100%;
}